<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Show</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-grip gap-2 mt-4 " >
    <a routerLink="/create" class="btn btn-primary" type="button">Create</a>
  </div>

  <table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let post of Posts">
        <td>{{post.title}} </td>
        <td>{{post.content}} </td>
        <td>{{post.author}} </td>
        <td>
          <!-- <button class="btn btn-outline-secondary" routerLink="/edit/{{post.id}} "><ion-icon name="create-outline"></ion-icon></button> -->
          <button class="btn btn-outline-danger" (onclick)="deleteRow(post)"><ion-icon name="trash-outline"></ion-icon></button>
        </td>
      </tr>
    </tbody>

  </table>
</ion-content>
