<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregue Productos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item>
        <ion-input label="Nombre de producto" placeholder="Producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Precio normal"  placeholder="Ingrese precio normal"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Precio reducido" placeholder="Precioreducido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button expand="full" type="submit" >Enviar</ion-button>
      </ion-item>
  </ion-list>
</ion-content>
